[package]
name = "iris-mpc-upgrade"
version = "0.1.0"
publish = false

edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
axum.workspace = true
iris-mpc-common = { path = "../iris-mpc-common" }
iris-mpc-store = { path = "../iris-mpc-store" }
clap = { workspace = true, features = ["env"] }
eyre.workspace = true
bytemuck.workspace = true
sqlx.workspace = true
serde.workspace = true
serde-big-array = "0.5"
tracing.workspace = true
itertools.workspace = true
futures.workspace = true
futures-concurrency = "7.6.0"
rand.workspace = true
rand_chacha = "0.3"
tokio.workspace = true
tracing-subscriber.workspace = true

mpc-uniqueness-check = { package = "mpc", git = "https://github.com/worldcoin/mpc-uniqueness-check", rev = "92d2415b0caca6b89f62d6a164382229c545dc1f" }
indicatif = "0.17.8"
rcgen = "0.13.1"
tokio-native-tls = "0.3.1"
tonic = { version = "0.12.3", features = [
    "tls",
    "tls-native-roots",
    "transport",
] }
prost = "0.13.3"
sha2 = "0.10.8"
thiserror.workspace = true
hkdf = "0.12.4"

[dev-dependencies]
float_eq = "1"


[build-dependencies]
tonic-build = "0.12.3"

[[bin]]
name = "upgrade-checker"
path = "src/bin/checker.rs"

[[bin]]
name = "upgrade-server"
path = "src/bin/tcp_upgrade_server.rs"

[[bin]]
name = "upgrade-client"
path = "src/bin/tcp_ssl_upgrade_client.rs"

[[bin]]
name = "seed-v1-dbs"
path = "src/bin/seed_v1_dbs.rs"

[[bin]]
name = "seed-v2-dbs"
path = "src/bin/seed_v2_dbs.rs"
