# Credentials, not read in by the app, will get replaced with an IAM profile for EKS node
AWS_ACCESS_KEY_ID=x
AWS_SECRET_ACCESS_KEY=x

# General Environment Configuration
SMPC__ENVIRONMENT=development

# Service Configuration
SMPC__SERVICE__SERVICE_NAME=smpcv2-server

# Database Configuration
SMPC__DATABASE__URL=postgres://postgres:postgres@localhost/postgres
SMPC__DATABASE__MIGRATE=true
SMPC__DATABASE__CREATE=false

# AWS Configuration
SMPC__AWS__REGION=eu-north-1

# Servers Configuration
SMPC__SERVERS__CODES_ENGINE_PORT=4000
SMPC__SERVERS__MASKS_ENGINE_PORT=4001
SMPC__SERVERS__BATCH_CODES_ENGINE_PORT=4002
SMPC__SERVERS__BATCH_MASKS_ENGINE_PORT=4003
SMPC__SERVERS__PHASE_2_BATCH_PORT=4004
SMPC__SERVERS__PHASE_2_PORT=4005

# App configuration
SMPC__PARTY_ID=0
SMPC__REQUESTS_QUEUE_URL=https://sqs.eu-north-1.amazonaws.com/654654380399/mpc1.fifo
SMPC__RESULTS_TOPIC_ARN=arn:aws:sns:eu-north-1:654654380399:mpc-results-topic
SMPC__PATH=/opt/dlami/nvme/
SMPC__KMS_KEY_IDS='["077788e2-9eeb-4044-859b-34496cfd500b", "896353dc-5ea5-42d4-9e4e-f65dd8169dee", "42bb01f5-8380-48b4-b1f1-929463a587fb"]'
