# Credentials, not read in by the app, will get replaced with an IAM profile for EKS node
AWS_ACCESS_KEY_ID=x
AWS_SECRET_ACCESS_KEY=x

# General Environment Configuration
SMPC__ENVIRONMENT=development

# Service Configuration
SMPC__SERVICE__SERVICE_NAME=smpcv2-server

# Database Configuration
SMPC__DATABASE__URL=postgres://postgres:postgres@localhost/postgres
SMPC__DATABASE__MIGRATE=true
SMPC__DATABASE__CREATE=false

# AWS Configuration
SMPC__AWS__REGION=eu-north-1

# App configuration
SMPC__PARTY_ID=1
SMPC__REQUESTS_QUEUE_URL=https://sqs.eu-north-1.amazonaws.com/654654380399/mpc2.fifo
SMPC__RESULTS_TOPIC_ARN=arn:aws:sns:eu-north-1:654654380399:mpc-results-topic
SMPC__PROCESSING_TIMEOUT_SECS=60

# These can be either ARNs or IDs, in production multi account setup they are ARNs
SMPC__KMS_KEY_ARNS='["077788e2-9eeb-4044-859b-34496cfd500b", "896353dc-5ea5-42d4-9e4e-f65dd8169dee", "42bb01f5-8380-48b4-b1f1-929463a587fb"]'

# NCCL communication configuration
NCCL_COMM_ID=10.15.32.27:4000
