[package]
name = "gpu-iris-mpc"
version = "0.1.0"
edition = "2021"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
atomic_float = "0.1"
aws-config = { version = "1.0.1", features = ["behavior-version-latest"] }
aws-sdk-kms = { version = "1.3.0" }
aws-sdk-sns = { version = "1.3.0" }
aws-sdk-sqs = { version = "1.3.0" }
axum = "0.7.5"
base64 = "0.22.1"
bytemuck = "1.15"
clap = { version = "~4.4", features = ["derive"] }
cudarc = { git = "https://github.com/rw0x0/cudarc.git", rev = "origin/transmute", features = [
    "cuda-12020",
] }
eyre = "0.6.12"
float_eq = "1.0.1"
hex = "0.4.3"
hmac = "0.12"
http = "1.1.0"
itertools = "0.12"
lazy_static = "1.4.0"
memmap2 = "0.5.3"
ndarray = "0.15.3"
num = { version = "0.4.2", features = ["num-bigint"] }
num-traits = "0.2"
once_cell = "1.19.0"
percent-encoding = "2"
rand = "0.8.5"
rayon = "1.5.1"
reqwest = { version = "0.12.4", features = ["blocking"] }
ring = "0.17.8"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha2 = "0.10"
thiserror = "1.0"
time = { version = "^0.3.6", features = ["formatting", "macros"] }
tokio = { version = "1", features = ["full", "rt-multi-thread"] }
tracing-subscriber = { version = "0.3.15", features = ["env-filter"] }
url = "2"
uuid = { version = "1.8.0", features = ["v4"] }
sqlx = { version = "0.7", features = ["runtime-tokio", "postgres"] }
futures = "0.3"

[dev-dependencies]
criterion = "0.5"
#[[bench]]
#name = "chacha"
#harness = false

[[bench]]
name = "matmul"
harness = false

[[bench]]
name = "transpose"
harness = false

# Abort on panics rather than unwinding.
# This improves performance and makes panic propagation more reliable.
[profile.release]
panic = 'abort'

[profile.bench]
panic = 'abort'

[profile.dev]
panic = 'abort'

[profile.test]
panic = 'abort'
