[graph]
# Cargo deny will check dependencies via `--all-features`
all-features = true

[advisories]
version = 2
ignore = [
    { id = "RUSTSEC-2021-0137", reason = "we will switch to alkali eventually" },
    # https://github.com/mehcode/config-rs/issues/563
    { id = "RUSTSEC-2024-0402", reason = "waiting for `index-map` crate to remove the dependency" },
    { id = "RUSTSEC-2024-0421", reason = "waiting for `mongodb` crate to remove the dependency" },
    { id = "RUSTSEC-2024-0436", reason = "deep subdependency from several aws and sqlx crates" },
    # Doing this (see PR: https://github.com/worldcoin/iris-mpc/commit/f209e6e9b4195c766f7accf465f5d69c59e9157f)
    # caused a 3x slowdown in performance. Needs to be investigated thoroughly, though most likely it is due
    # to the bump in tokio.
    { id = "RUSTSEC-2025-0056", reason = "Bumping adler requires bumping backtrace and possibly tokio" },
    # Dependency of config-rs, they are not yet migrating of it, once they do we can bump the version and remove this exception
    # https://github.com/rust-cli/config-rs/issues/717
    { id = "RUSTSEC-2025-0120", reason = "No mature alternative available yet" },
    # rustls-pemfile is required by reqwest and tonic, we will switch once they do
    { id = "RUSTSEC-2025-0134", reason = "No mature alternative available yet" },
]

[sources]
unknown-registry = "deny"

[licenses]
version = 2
# We want really high confidence when inferring licenses from text
confidence-threshold = 1.0

# List of explicitly allowed licenses
# See https://spdx.org/licenses/ for list of possible licenses
allow = [
    "0BSD",
    "Apache-2.0 WITH LLVM-exception",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-2-Clause-Patent",
    "BSD-3-Clause",
    "BSL-1.0",
    "CC0-1.0",
    "ISC",
    "LicenseRef-ring",
    "MIT",
    "MPL-2.0", # Although this is copyleft, it is scoped to modifying the original files
    "OpenSSL",
    "Unicode-3.0",
    "Unicode-DFS-2016",
    "Unlicense",
    "Zlib",
    "CDDL-1.0",
    "CDLA-Permissive-2.0"
]

# See https://github.com/briansmith/ring/blob/95948b3977013aed16db92ae32e6b8384496a740/deny.toml#L12
[[licenses.clarify]]
name = "ring"
expression = "LicenseRef-ring"
license-files = [
    { path = "LICENSE", hash = 0xbd0eed23 },
]
