[package]
name = "iris-mpc-utils"
version = "0.1.0"
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
aes-prng = { git = "https://github.com/tf-encrypted/aes-prng.git", branch = "dragos/display" }
async-trait.workspace = true
aws-config.workspace = true
aws-sdk-rds.workspace = true
aws-sdk-sqs.workspace = true
aws-sdk-s3.workspace = true
aws-sdk-secretsmanager.workspace = true
base64.workspace = true
bincode.workspace = true
bytemuck.workspace = true
chrono = "0.4.38"
clap.workspace = true
dotenvy.workspace = true
eyre.workspace = true
futures.workspace = true
itertools.workspace = true
iris-mpc = { path = "../iris-mpc" }
iris-mpc-common = { path = "../iris-mpc-common" }
iris-mpc-cpu = { path = "../iris-mpc-cpu" }
iris-mpc-store = { path = "../iris-mpc-store" }
metrics = "0.22.1"
metrics-exporter-statsd = "0.7"
rand.workspace = true
reqwest.workspace = true
serde = { version = "1.0.214", features = ["derive"] }
serde_json.workspace = true
sodiumoxide = "0.2.7"
static_assertions.workspace = true
sqlx.workspace = true
telemetry-batteries.workspace = true
tokio.workspace = true
toml = { version = "0.8.23", features = ["preserve_order"] }
tracing.workspace = true
tracing-subscriber.workspace = true
tracing-test = "0.2.5"
uuid.workspace = true

[[bin]]
name = "write-node-config-toml"
path = "bin/write_node_config_toml.rs"
