[package]
name = "iris-mpc-cpu"
version = "0.1.0"
publish = false

edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
aes-prng = { git = "https://github.com/tf-encrypted/aes-prng.git", branch = "dragos/display"}
async-channel = "2.3.1"
async-trait = "~0.1"
bincode = "1.3.3"
bytes = "1.7"
bytemuck.workspace = true
dashmap = "6.1.0"
eyre.workspace = true
futures.workspace = true
hawk-pack = { git = "https://github.com/Inversed-Tech/hawk-pack.git", rev = "640a25c" }
iris-mpc-common = { path = "../iris-mpc-common" }
itertools.workspace = true
num-traits.workspace = true
rand.workspace = true
rstest = "0.23.0"
serde.workspace = true
static_assertions.workspace = true
tokio.workspace = true
tracing.workspace = true
tracing-test = "0.2.5"

[dev-dependencies]
criterion = { version = "0.5.1", features = ["async_tokio"] }

[[bench]]
name = "hnsw"
harness = false