image: "ghcr.io/worldcoin/iris-mpc:v0.24.0@sha256:f4b58e796470f6bc3910164fbc724d3119ce2cb5708191b2e764d30c74113832"

environment: prod
replicaCount: 1

strategy:
  type: Recreate

datadog:
  enabled: true

ports:
  - containerPort: 3000
    name: health
    protocol: TCP

livenessProbe:
  httpGet:
    path: /health
    port: health

readinessProbe:
  httpGet:
    path: /ready
    port: health

startupProbe:
  initialDelaySeconds: 900
  failureThreshold: 50
  periodSeconds: 30
  httpGet:
    path: /ready
    port: health

resources:
  limits:
    cpu: 192
    memory: 1900Gi
    nvidia.com/gpu: 8
    hugepages-2Mi: 5Gi
    vpc.amazonaws.com/efa: 32
  requests:
    cpu: 190
    memory: 1900Gi
    nvidia.com/gpu: 8
    hugepages-2Mi: 5Gi
    vpc.amazonaws.com/efa: 32

imagePullSecrets:
  - name: github-secret

nodeSelector:
  kubernetes.io/arch: amd64

hostNetwork: true

podSecurityContext:
  runAsUser: 65534
  runAsGroup: 65534

tolerations:
  - key: "dedicated"
    operator: "Equal"
    value: "gpuGroup"
    effect: "NoSchedule"

keelPolling:
  # -- Specifies whether keel should poll for container updates
  enabled: true

tmpDir:
  enabled: true
  size: 5Gi
  mountPath: /dev/shm

preStop:
  # preStop.sleepPeriod specifies the time spent in Terminating state before SIGTERM is sent
  sleepPeriod: 10

# terminationGracePeriodSeconds specifies the grace time between SIGTERM and SIGKILL
terminationGracePeriodSeconds: 240 # TODO: make it 3x SMPC__PROCESSING_TIMEOUT_SECS
