image: "ghcr.io/worldcoin/anon-stats-server:v0.25.0@sha256:f1cbbbc98132b98e757cc86217f93332ad4a675b675f99499c8970ada68a5290"

environment: prod
replicaCount: 1

strategy:
  type: Recreate

datadog:
  enabled: true

hostNetwork: false

ports:
  - containerPort: 3000
    name: health
    protocol: TCP
  - containerPort: 4000
    name: tcp-4000
    protocol: TCP
  - containerPort: 4001
    name: tcp-4001
    protocol: TCP
  - containerPort: 4002
    name: tcp-4002
    protocol: TCP
  - containerPort: 4100
    name: tcp-4100
    protocol: TCP
  - containerPort: 4101
    name: tcp-4101
    protocol: TCP
  - containerPort: 4102
    name: tcp-4102
    protocol: TCP

startupProbe:
  httpGet:
    path: /health
    port: health

livenessProbe:
  httpGet:
    path: /health
    port: health

readinessProbe:
  periodSeconds: 20
  failureThreshold: 4
  httpGet:
    path: /health
    port: health

resources:
  limits:
    cpu: "14"
    memory: 40Gi
  requests:
    cpu: "14"
    memory: 40Gi

imagePullSecrets:
  - name: github-secret

podSecurityContext:
  runAsUser: 65534
  runAsGroup: 65534

mountSSLCerts:
  enabled: true
  mountPath: /etc/ssl/private
