apiVersion: v1
kind: Pod
metadata:
  name: db-cleaner
  namespace: gpu-iris-mpc
spec:
  hostNetwork: true
  serviceAccountName: gpu-iris-mpc  # Add this line
  tolerations:
    - key: "dedicated"
      operator: "Equal"
      value: "gpuGroup"
      effect: "NoSchedule"
  imagePullSecrets:
    - name: github-secret
  securityContext:
    runAsUser: 0
  containers:
    - name: db-cleaner
      image: ghcr.io/worldcoin/gpu-iris-mpc-debug:34b305f6e9acafe9043636fb32fc11870615f34e
      imagePullPolicy: Always
      command: [ "/bin/bash" ]
      args: [ "-c", "while true; do ping localhost; sleep 60; done" ]
      resources:
        limits:
          cpu: 16
          memory: 32Gi
        requests:
          cpu: 16
          memory: 32Gi
