services:
  old-db-shares-1:
    image: postgres:16
    ports:
      - "6100:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
  old-db-shares-2:
    image: postgres:16
    ports:
      - "6101:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
  old-db-masks-1:
    image: postgres:16
    ports:
      - "6111:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
  new-db-1:
    image: postgres:16
    ports:
      - "6200:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
  new-db-2:
    image: postgres:16
    ports:
      - "6201:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
  new-db-3:
    image: postgres:16
    ports:
      - "6202:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
  new-db-4:
    image: postgres:16
    ports:
      - "6203:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
