image: "ghcr.io/worldcoin/iris-mpc-cpu:130450d3b6609cc3de8bd2daf6d15cf4cdca8434"

environment: stage
replicaCount: 1

strategy:
  type: Recreate

datadog:
  enabled: true

ports:
  - containerPort: 3000
    name: health
    protocol: TCP

livenessProbe:
  httpGet:
    path: /health
    port: health

readinessProbe:
  periodSeconds: 30
  httpGet:
    path: /ready
    port: health

startupProbe:
  initialDelaySeconds: 60
  failureThreshold: 120
  periodSeconds: 30
  httpGet:
    path: /ready
    port: health

resources:
  limits:
    cpu: 21
    memory: 120Gi
  requests:
    cpu: 20
    memory: 120Gi

imagePullSecrets:
  - name: github-secret

podAnnotations:
  karpenter.sh/do-not-disrupt: "true"

nodeSelector:
  kubernetes.io/arch: amd64
  karpenter.sh/capacity-type: on-demand
  node.kubernetes.io/instance-type: "r7a.8xlarge"

podSecurityContext:
  runAsUser: 65534
  runAsGroup: 65534

# long enough to allow for graceful shutdown to safely process 2 batches
# single batch timeout in stage is 240 seconds
terminationGracePeriodSeconds: 500