image: "ghcr.io/worldcoin/iris-mpc:v0.29.0@sha256:af787ad209383f254688f4e3f236fcf2705e98b19d6bf5665d9a556d78cd89ff"

environment: stage
replicaCount: 1

strategy:
  type: Recreate

datadog:
  enabled: true

ports:
  - containerPort: 3000
    name: health
    protocol: TCP

livenessProbe:
  httpGet:
    path: /health
    port: health

readinessProbe:
  periodSeconds: 30
  httpGet:
    path: /ready
    port: health

startupProbe:
  initialDelaySeconds: 60
  failureThreshold: 120
  periodSeconds: 30
  httpGet:
    path: /ready
    port: health

resources:
  limits:
    cpu: 28
    memory: 100Gi
    nvidia.com/gpu: 1
    vpc.amazonaws.com/efa: 1
  requests:
    cpu: 27
    memory: 99Gi
    nvidia.com/gpu: 1
    vpc.amazonaws.com/efa: 1

imagePullSecrets:
  - name: github-secret

nodeSelector:
  kubernetes.io/arch: amd64

hostNetwork: true

podSecurityContext:
  runAsUser: 65534
  runAsGroup: 65534

tolerations:
  - key: "dedicated"
    operator: "Equal"
    value: "gpuGroup"
    effect: "NoSchedule"

keelPolling:
  # -- Specifies whether keel should poll for container updates
  enabled: true

preStop:
  # preStop.sleepPeriod specifies the time spent in Terminating state before SIGTERM is sent
  sleepPeriod: 10

# terminationGracePeriodSeconds specifies the grace time between SIGTERM and SIGKILL
terminationGracePeriodSeconds: 120
