image: "ghcr.io/worldcoin/iris-mpc:94ce84622e8f073e054045128c6ade73e9abf964"

environment: stage
replicaCount: 1

strategy:
  type: Recreate

datadog:
  enabled: true

ports:
  - containerPort: 3000
    name: health
    protocol: TCP

livenessProbe:
  initialDelaySeconds: 300
  httpGet:
    path: /health
    port: health

readinessProbe:
  initialDelaySeconds: 300
  periodSeconds: 30
  failureThreshold: 10
  httpGet:
    path: /health
    port: health

startupProbe:
  enabled: true
  initialDelaySeconds: 300
  httpGet:
    path: /health
    port: health

resources:
  limits:
    cpu: 31
    memory: 120Gi
    nvidia.com/gpu: 1
    vpc.amazonaws.com/efa: 1
  requests:
    cpu: 30
    memory: 110Gi
    nvidia.com/gpu: 1
    vpc.amazonaws.com/efa: 1

imagePullSecrets:
  - name: github-secret

nodeSelector:
  kubernetes.io/arch: amd64

hostNetwork: true

podSecurityContext:
  runAsUser: 65534
  runAsGroup: 65534

tolerations:
  - key: "dedicated"
    operator: "Equal"
    value: "gpuGroup"
    effect: "NoSchedule"

keelPolling:
  # -- Specifies whether keel should poll for container updates
  enabled: true

libsDir:
  enabled: true
  path: "/libs"
  size: 2Gi
  files:
    - path: "/usr/local/cuda-12.2/targets/x86_64-linux/lib/libcublasLt.so.12.2.5.6"
      file: "libcublasLt.so.12.2.5.6"
    - path: "/usr/local/cuda-12.2/targets/x86_64-linux/lib/libcublas.so.12.2.5.6"
      file: "libcublas.so.12.2.5.6"

preStop:
  # sleepPeriod is a variable in common-app to specify k8s terminationGracePeriodSeconds
  sleepPeriod: 60 # 3x SMPC__PROCESSING_TIMEOUT_SECS
