image: "ghcr.io/worldcoin/anon-stats-server:1bfaf4eaabbd1f4904261cd1ca1106660da4c90e"

environment: stage
replicaCount: 1

strategy:
  type: Recreate

datadog:
  enabled: true

hostNetwork: false

ports:
  - containerPort: 3000
    name: health
    protocol: TCP
  - containerPort: 4000
    name: tcp-4000
    protocol: TCP
  - containerPort: 4001
    name: tcp-4001
    protocol: TCP
  - containerPort: 4002
    name: tcp-4002
    protocol: TCP
  - containerPort: 4100
    name: tcp-4100
    protocol: TCP
  - containerPort: 4101
    name: tcp-4101
    protocol: TCP
  - containerPort: 4102
    name: tcp-4102
    protocol: TCP

startupProbe:
  httpGet:
    path: /health
    port: health

livenessProbe:
  httpGet:
    path: /health
    port: health

readinessProbe:
  periodSeconds: 20
  failureThreshold: 4
  httpGet:
    path: /health
    port: health

resources:
  limits:
    cpu: "2"
    memory: 10Gi
  requests:
    cpu: "2"
    memory: 10Gi

imagePullSecrets:
  - name: github-secret

nodeSelector:
  kubernetes.io/arch: amd64
  workload: "anon-stats-server"

tolerations:
  - key: "dedicated"
    operator: "Equal"
    value: "anonStatsServer"
    effect: "NoSchedule"

podSecurityContext:
  runAsUser: 65534
  runAsGroup: 65534
