image: "ghcr.io/worldcoin/iris-mpc:v0.8.18"

environment: stage
replicaCount: 1

strategy:
  type: Recreate

datadog:
  enabled: true

ports:
  - containerPort: 8000
    name: http
    protocol: TCP
  - containerPort: 3000
    name: health
    protocol: TCP

livenessProbe:
  httpGet:
    path: /health
    port: health

readinessProbe:
  periodSeconds: 30
  failureThreshold: 10
  httpGet:
    path: /health
    port: health

resources:
  limits:
    cpu: 4
    memory: 1Gi
  requests:
    cpu: 4
    memory: 1Gi

imagePullSecrets:
  - name: github-secret

nodeSelector:
  kubernetes.io/arch: amd64

hostNetwork: true

podSecurityContext:
  runAsUser: 65534
  runAsGroup: 65534

serviceAccount:
  create: true

command: [ "/bin/upgrade-server" ]

env:
  - name: SMPC__DATABASE__URL
    valueFrom:
      secretKeyRef:
        key: DATABASE_URL
        name: application
  - name: RUST_LOG
    value: info
  - name: ENVIRONMENT
    value: stage

keelPolling:
  # -- Specifies whether keel should poll for container updates
  enabled: true

service:
  enabled: false

nginxSidecar:
  enabled: true
  image: "iris-gpu-upgrade-proto-nginx:1.0.0"
  port: 80443
  config:
    nginx.conf: |
      worker_processes  auto;
      
      error_log  /dev/stderr notice;
      pid        /tmp/nginx.pid;
      
      events {
        worker_connections  1024;
      }
      
      stream {
        log_format basic '$remote_addr [$time_local] '
                   '$protocol $status $bytes_sent $bytes_received '
                   '$session_time';
      
        upstream tcp_backend {
          server 127.0.0.1:8000;
        }
      
        server {
          listen 8443 ssl;
          proxy_pass tcp_backend;
      
          ssl_certificate /etc/nginx/cert/certificate.crt;
          ssl_certificate_key /etc/nginx/cert/key.pem;
      
          ssl_protocols TLSv1.2 TLSv1.3;
          ssl_ciphers HIGH:!aNULL:!MD5;
      
          # Enable session resumption to improve performance
          ssl_session_cache shared:SSL:10m;
          ssl_session_timeout 1h;
      
          access_log /dev/stdout basic;
        }
      }
