name: Build All Targets

on:
  push:
    paths-ignore:
      - "adr/**"
      - "deploy/**"
      - ".github/**"

concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  build-tests:
    runs-on: [large-amd64]
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Install Dependencies
        run: sudo apt install protobuf-compiler

      - name: Cache build products
        uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6
        with:
          # Split the test and bench caches, the have different debug settings
          key: "test"

      - name: Install Rust
        run: rustup toolchain install 1.85.0

      - name: Set Rust  as default
        run: rustup default 1.85.0

      # Building tests in release mode checks warnings and compiler errors that depend on optimisations
      - name: Build Tests
        run: cargo build --release --all-features --tests

  build-bins:
    runs-on: [8xlarge-amd64]
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Install Dependencies
        run: sudo apt install protobuf-compiler

      - name: Cache build products
        uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6
        with:
          # Split the test and bench caches, they have different debug settings
          key: "bench"

      - name: Install Rust
        run: rustup toolchain install 1.85.0

      - name: Set Rust  as default
        run: rustup default 1.85.0

      - name: Build All Targets
        run: cargo build --release --all-features --lib --bins --benches --examples
