name: Build and push base docker image for shares encoding binary [nocuda]

on:
  push:
    paths:
      - Dockerfile.shares-encoding
      - .github/workflows/build-and-push-shares-encoding.yaml
      - iris-mpc-common/src/bin/shares_encoding.rs

  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-shares-encoding
jobs:
  docker:
    timeout-minutes: 40
    strategy:
      fail-fast: true
      matrix:
        include:
          - runner: ubuntu-22.04-16core
            platform: linux/amd64
          - runner: arm64-ubuntu-22.04-16core
            platform: linux/arm64
    runs-on: ${{ matrix.runner }}
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Set up Docker
        uses: docker/setup-docker-action@b60f85385d03ac8acfca6d9996982511d8620a19
        with:
          version: '28.0.4'
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2
      - name: Log in to the Container registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          platforms: ${{ matrix.platform }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          file: Dockerfile.shares-encoding
