name: Check secret leaks

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check-secret-leaks:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Run Gitleaks v8.28.0 on full history
        run: |
          docker run --rm -v $(pwd):/repo ghcr.io/gitleaks/gitleaks@sha256:cdbb7c955abce02001a9f6c9f602fb195b7fadc1e812065883f695d1eeaba854 \
            detect --source /repo --verbose --no-git
