name: Check Cargo Dependencies
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  cargo-deny:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # pin@v6.0.1
      - uses: EmbarkStudios/cargo-deny-action@76cd80eb775d7bbbd2d80292136d74d39e1b4918
        with:
          log-level: "error"
          rust-version: "1.89.0"
