name: CPU Integration Tests

on:
  pull_request:
    paths-ignore:
      - "adr/**"
      - "deploy/**"
      - ".github/**"
concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io

jobs:
  integration-tests:
    runs-on:
      labels: ubuntu-22.04-64core
    steps:
      - uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and export to Docker
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.dev.hawk
          load: true
          tags: hawk-server-local-build:latest

      - name: Run docker compose
        uses: hoverkraft-tech/compose-action@v2.0.1
        with:
          compose-file: "./docker-compose.test.yaml"

      - name: Execute tests in the running services
        run: |
          docker compose -f docker-compose.test.yaml exec iris_mpc_client "./run-client-docker.sh"
