name: CPU Integration Tests

on:
  pull_request:

concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io

jobs:
  cpu-integration-tests:
    timeout-minutes: 30
    runs-on:
      labels: ubuntu-22.04-16core
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Get all test, doc and src files that have changed
        id: changed-files-yaml
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891
        with:
          files_yaml: |
            src:
              - Dockerfile*
              - Cargo.lock
              - Cargo.toml
              - deny.toml
              - rust-toolchain.toml
              - iris-*/**
              - migrations/**
              - scripts/**
              - .github/workflows/cpu-integration-tests.yaml

      - name: Cache Rust build
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb
        id: cache-rust
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: rust-build-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            rust-build-${{ runner.os }}-

      - name: Set up QEMU
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130

      - name: Set up Docker Buildx
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435

      - name: Configure AWS credentials
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        uses: aws-actions/configure-aws-credentials@49f33fe638c0cba4fb16037a27915a7ab7740259
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076
        with:
          registry-type: public

      - name: Log in to the Container registry
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and export to Docker
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .
          file: Dockerfile.dev.hawk
          platforms: linux/amd64
          load: true
          tags: hawk-server-local-build:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run docker compose
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        uses: hoverkraft-tech/compose-action@3846bcd61da338e9eaaf83e7ed0234a12b099b72
        continue-on-error: false
        env:
          COMPOSE_PROGRESS: plain          # no fancy TTY bars
          COMPOSE_HTTP_TIMEOUT: 600        # bump timeout
        with:
          compose-file: "./docker-compose.test.yaml"

      - name: Execute tests in the running services
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        run: |
          docker compose -f docker-compose.test.yaml exec iris_mpc_client "./run-client-docker.sh"
