name: CPU Genesis E2E Tests

on:
  pull_request:

concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io

jobs:
  cpu-e2e:
    timeout-minutes: 20
    runs-on:
      labels: ubuntu-22.04-16core
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Get all test, doc and src files that have changed
        id: changed-files-yaml
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62
        with:
          files_yaml: |
            src:
              - Dockerfile*
              - Cargo.lock
              - Cargo.toml
              - deny.toml
              - rust-toolchain.toml
              - iris-*/**
              - migrations/**
              - scripts/**
              - .github/workflows/cpu-genesis-e2e-tests.yaml

      - name: Cache Rust build
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb
        id: cache-rust
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: rust-build-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            rust-build-${{ runner.os }}-
      - name: Set up QEMU
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130

      - name: Set up Docker Buildx
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435

      - name: Log in to the Container registry
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure AWS credentials
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        uses: aws-actions/configure-aws-credentials@49f33fe638c0cba4fb16037a27915a7ab7740259
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076
        with:
          registry-type: public

      - name: Build and export to Docker
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .
          file: Dockerfile.hnsw.test.e2e
          platforms: linux/amd64
          load: true
          tags: hnsw-tests-e2e-local:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Show disk space before compose
        run: df -h && docker system df -v

      - name: Run docker compose
        id: compose_up
        continue-on-error: false
        env:
          COMPOSE_PROGRESS: plain          # no fancy TTY bars
          COMPOSE_HTTP_TIMEOUT: 600        # bump timeout
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        uses: hoverkraft-tech/compose-action@3846bcd61da338e9eaaf83e7ed0234a12b099b72
        with:
          compose-file: "./docker-compose.test.hnsw.e2e.yaml"

      - name: Execute end-to-end tests in running services
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        run: |
          docker compose -f "docker-compose.test.hnsw.e2e.yaml" exec "hnsw_tests_e2e" "/src/iris-mpc/scripts/run-tests-hnsw-e2e.sh"
