name: Check Doc Syntax

on:
  push:

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  doc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Rust nightly
        run: rustup toolchain install nightly
      - name: Set Rust nightly as default
        run: rustup default nightly
      - name: Build Docs
        run: cargo doc --all-features --no-deps --document-private-items
