name: Lint Clippy

on:
  push:

concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

permissions:
  # Leaving clippy annotations on commits...
  contents: write
  # And on PRs
  pull-requests: write
  # Updating commit and PR statuses
  checks: write

jobs:
  lint-clippy:
    runs-on: large-amd64
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      # The following steps will only run if any of the src files have changed
      - name: Install Dependencies
        run: sudo apt install protobuf-compiler

      - name: Install Rust
        run: rustup toolchain install 1.85.0

      - name: Set Rust  as default
        run: rustup default 1.85.0

      - name: Install Rust clippy for checking clippy errors
        run: rustup component add clippy

      - name: Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings --no-deps
