name: Lint Rustfmt

on:
  push:

concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  # TODO: change this to lint-rustfmt once we've updated required jobs
  lint:
    runs-on: [large-amd64]
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Show errors inline
        uses: r7kamura/rust-problem-matchers@9fe7ca9f6550e5d6358e179d451cc25ea6b54f98
      - name: Install Rust
        run: rustup toolchain install 1.85.0
      - name: Set Rust as default
        run: rustup default 1.85.0
      - name: Install Rustfmt for formatting
        run: rustup component add rustfmt
      - name: Run Rustfmt
        run: cargo fmt -- --check
