name: Run unit tests

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize]

concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  unit-tests:
    runs-on: arc-test-amd64-runner

    services:
      postgres:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      # The following steps will only run if any of the src files have changed
      - name: Install Dependencies
        run: sudo apt install protobuf-compiler

      - name: Install Rust
        run: rustup toolchain install 1.85.0

      - name: Set Rust  as default
        run: rustup default 1.85.0

      - name: Run Tests
        run: |
          sleep 3600
          cargo test --release

      - name: Run Tests with DB
        run: cargo test --release --features db_dependent

      - name: Run CPU E2E tests
        run: cargo test --release -p iris-mpc-cpu -- e2e--include-ignored
        env:
          RUST_LOG: info
          RUST_BACKTRACE: 1
