name: Run unit tests

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize]

concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  unit-tests:
    timeout-minutes: 20
    runs-on:
      labels: ubuntu-22.04-16core
    permissions:
      contents: read

    services:
      postgres:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Get all test, doc and src files that have changed
        id: changed-files-yaml
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62
        with:
          files_yaml: |
            src:
              - Dockerfile*
              - Cargo.lock
              - Cargo.toml
              - deny.toml
              - rust-toolchain.toml
              - iris-*/**
              - migrations/**
              - scripts/**
              - .github/workflows/run-unit-tests.yaml

      # The following steps will only run if any of the src files have changed
      - name: Install Dependencies
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        run: sudo apt install protobuf-compiler

      - name: Cache Rust build
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        id: cache-rust
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: rust-build-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            rust-build-${{ runner.os }}-

      - name: Install Rust
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        run: rustup toolchain install 1.85.0

      - name: Set Rust  as default
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        run: rustup default 1.85.0

      - name: Run Tests
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        run: cargo test --release -- --test-threads=1

      - name: Run Tests with DB
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        run: cargo test --release --features db_dependent -- --test-threads=1

      - name: Run CPU E2E tests
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        run: cargo test --release -p iris-mpc-cpu -- e2e --test-threads=1 --include-ignored
        env:
          RUST_LOG: info
          RUST_BACKTRACE: 1
