name: Rust GPU Tests

on:
  pull_request:
    branches-ignore:
      - dev

concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  gpu-e2e:
    runs-on:
      group: arc-public-gpu-amd64-runner
    timeout-minutes: 25
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Get all test, doc and src files that have changed
        id: changed-files-yaml
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62
        with:
          files_yaml: |
            src:
              - Dockerfile*
              - Cargo.lock
              - Cargo.toml
              - deny.toml
              - rust-toolchain.toml
              - iris-*/**
              - migrations/**
              - scripts/**
              - .github/workflows/test-gpu.yaml

      # The following steps will only run if any of the src files have changed
      - name: Validate presence of GPU devices
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        run: nvidia-smi

      - name: Check shared memory size
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        run: df -h

      - name: Install OpenSSL && pkg-config && protobuf-compiler
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        run: sudo apt-get update && sudo apt-get install -y pkg-config libssl-dev protobuf-compiler

      - name: Install CUDA and NCCL dependencies
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true' &&
            steps.cache-cuda-nccl.outputs.cache-hit != 'true'
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          wget https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2404/x86_64/cuda-ubuntu2404.pin
          sudo mv cuda-ubuntu2404.pin /etc/apt/preferences.d/cuda-repository-pin-600
          
          wget -nv https://developer.download.nvidia.com/compute/cuda/12.8.0/local_installers/cuda-repo-ubuntu2404-12-8-local_12.8.0-570.86.10-1_amd64.deb
          sudo dpkg -i cuda-repo-ubuntu2404-12-8-local_12.8.0-570.86.10-1_amd64.deb
          sudo cp /var/cuda-repo-ubuntu2404-12-8-local/cuda-*-keyring.gpg /usr/share/keyrings/
          sudo apt-get update
          sudo apt-get install -y cuda-toolkit-12-8 

          wget https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2404/x86_64/cuda-keyring_1.1-1_all.deb
          sudo dpkg -i cuda-keyring_1.1-1_all.deb
          sudo apt-get update
          sudo apt-get install -y libnccl2 libnccl-dev

      - name: Find libs
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        run: find /usr -name "libnvrtc*" && find /usr -name libcuda.so

      - name: Cache Rust build
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb
        id: cache-rust
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: rust-build-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            rust-build-${{ runner.os }}-

      - name: Find libs
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        run: find /usr -name "libnvrtc*" && find /usr -name libcuda.so

      - name: Install Rust
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.89.0

      - name: GPU Dependent Tests
        if: steps.changed-files-yaml.outputs.src_any_changed == 'true'
        timeout-minutes: 20
        run: cargo test -p iris-mpc-gpu --release --features gpu_dependent -- --test-threads=1
        shell: bash
        env:
          RUST_MIN_STACK: 104857600
          NCCL_P2P_LEVEL: LOC
          NCCL_NET: Socket
          NCCL_P2P_DIRECT_DISABLE: 1
          NCCL_SHM_DISABLE: 1
